a {
    text-decoration: none;
    outline: none;
    cursor: auto;
}

h1 {
    font-weight: 800;
}

p.text-success {
    font-size: 16px;
    color: #008040;
    font-weight: 800;
}

body {
 	text-align: center;
    height: 100%;
    background-color: #f7f7f7;
    -webkit-background-size: cover;
    background-size: cover;
    /*color: #fff !important;*/
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
}

p {
    font-size: 1em;
}

/* Partie concerant le header de la page de principale */
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.45);
}

.header .logo {
    background: url(../img/logo.png) center no-repeat;
    float: left;
    display: block;
    height: 60px;
    width: 92px;
    background-size: 80px 20px;
}

.header .inner {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    height: 60px;
}

.header .right .login {
    height: 30px;
    padding: 0 15px;
    margin-right: 10px;
    line-height: 30px;
    border-radius: 3px;
}

a.upload_button {
    font-size: 20px;
    padding: 0 15px;
    margin-right: 10px;
    line-height: 50px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
}

.header .right .login:hover {
    background: rgba(255,255,255,0.3);
    text-decoration: none;
}

.header .right a {
    float: right;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
}

.header .left .login {
    height: 30px;
    padding: 0 15px;
    margin-left: 50px;
    line-height: 30px;
    border-radius: 3px;
}

.header .left .login:hover {
    background: rgba(255,255,255,0.3);
    text-decoration: none;
}

.header .left a {
    float: left;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
}

.header .search-bar {
  margin-left: 50px;
  margin-top: 7px;
}

.header .search-bar a {
    float: none;
    font-weight: normal;
    color: currentColor;
    margin-top: 0px;
}

.header .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
}
/* Fin partie concerant le header de la page de principale */

.container-fluid {
    margin-top: 65px;
     z-index: 10;
}

.upload-container {
    margin-top: 150px;
    z-index: 10;
}

.form-inline .form-group {
    display: -webkit-inline-box;
}

div#links {
    margin-top: 150px;
    display: block;
}

/* Overlay pour l'image de la page principale */
.main .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.15);
    /*z-index: 3;*/
}

.text_wrap {
    display: block;
    vertical-align: top;
    position: relative;
    opacity: 1;
    padding: 25vh 10px;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    transition-delay: 0.6s;
    z-index: 4;
}

.main_title.text_wrap h1 h2{
    text-align: center;
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 20px;
    margin: 0;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
}

.main_title.text_wrap h2{
    margin-bottom: 40px;
    display: block;
    color: black;
}

span.fa {
    padding-right: 10px;
}

span.glyphicon {
    padding-right: 10px;
    top: 2px;
}

.modal-dialog {
    min-width: 800px !important;
    max-width: 1400px !important;
    margin: 30px auto !important;
}

.modal-title {
    color: black;
}

.table-hover>tbody>tr {
    background: rgba(255,255,255,0.3);
    text-decoration: none;
}

.table-hover>tbody>tr:hover {
    background: rgba(255,255,255,0.3);
    text-decoration: none;
}

a.delete_button:hover {
    background: rgba(255,255,255,0.3);
    text-decoration: none;
    color: white;
}

a.delete_button {
    cursor: auto;
    background: transparent;
    text-decoration: none;
    color: white;
    font-weight: bold;
    outline: none;
    cursor: auto;
    height: 30px !important;
    padding: 0 15px;
    line-height: 30px;
    border-radius: 3px;
}

label.welcome {
    height: 30px;
    padding: 0 15px;
    margin-right: 10px;
    line-height: 60px;
    border-radius: 3px;
    float: right;
}

label.delete_button {
    background: transparent;
    text-decoration: none;
    color: white;
    font-weight: bold;
    outline: none;
    cursor: auto;
    height: 30px !important;
    padding: 0 15px;
    line-height: 30px;
    border-radius: 3px;
    cursor: auto;
}



form.col-lg-3.col-md-4.col-xs-6.thumb {
    padding-bottom: 50px;
}

div#sidebar-wrapper {
    background-color: rgba(0,0,0,0.45);
    margin-top: 60px;
}

div#page-content-wrapper {
    margin-left: 120px;
}

.col-lg-12 {
    max-width: 70%;
    padding-left: 10%;
}

nav.header.fadein.transparent {
    min-width: 815px !important;
}

.editable-content {
    max-width: 1030px;
}

a.btn.btn-primary.lessBtn,
a.btn.btn-primary.moreBtn {
    width: 30px;
    height: 30px;
    display: inline;
    text-decoration: none;
    color: #999999;
    font-weight: 700;
    border: transparent;
    background: transparent;
}

a.btn.btn-primary.lessBtn {
    margin-right: 10px;
}

a.btn.btn-primary.moreBtn {
    margin-left: 10px;
}

a.btn.btn-primary.moreBtn:hover,
a.btn.btn-primary.lessBtn:hover {
    background: rgba(255,255,255,0.3);
    text-decoration: none;
    border: transparent;
    border-radius: 3px;
}

.contrastLabel {
    display: inline;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    color: #999999;
}

.smoothLabel {
    display: inline;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    color: #999999;
}

.brightLabel {
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    color: #999999;
}

.photo_margin {
    margin: 5px;
}

.input.jscolor, .colorInput {
    color: transparent !important;
    margin-left: -15px !important;
    background-image: none;
    background-color: rgb(171, 37, 103);
    border: none;
    width: 32px;
    line-height: 31px;
    border-radius: 36px;
}

hr {
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

h3.group.inner.list-group-item-heading {
    color: #8e9f8c;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
}

a.bid-item {
    text-decoration: none !important;
}

.group.inner.list-group-item-text.italic.max-text-with {
    color: black;
}

.thumbnail {
    margin-bottom: 7px;
}

.thumbnail:hover {
    transition: box-shadow 0.1s ease 0s;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.main_title.text_wrap>h1 {
    color: black;
}

p.type-ets.max-text-with {
    font-weight: 900;
}

p.max-text-with {
    color: #e04245;
    font-weight: 600;
}

.group.inner.list-group-item-text {
    margin: 0px 0px 10px 0px;
}

a.btn.btn-warning {
    width: 100%;
    margin: 5px;
    max-width: 200px;
}

span.price {
    color: #888888;
    font-weight: 200;
}

/*
*   Table
*/

table tr td {
    font-size: 15px;
}

table thead tr th{
    font-size: 14px;
}

.panel-bids {
    margin-top: 80px;
}

.center-col {
    float: none;
 margin: 0 auto;
}

/**
* Detail
*/
.detail {
    margin-top: 50px;
    text-align: left;
}

.detail label {
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 14px;
}

/**
*  Custom
*/

.form-box {
    text-align: left;
    width: 400px;
    margin: auto auto;
    margin-top: 75px;
    padding: 25px;
    border: solid #d8d8d8 thin;
    border-radius: 2px;
}


/**
*   From cake.css
*/
div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
    box-radius: 5px;

}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}

/* PRODUCT ADD PAGE CSS */

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: center;
}

input[type="text"], input[type="decimal"], textarea, textarea.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

textarea#form-about-yourself {
    height: 100px;
}

textarea, textarea.form-control {
    padding-top: 10px;
    height: 100px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"][disabled], input[type="text"][readonly] {
    background-color: #f8f8f8;
}

input[type="text"]:focus {
    border: 3px solid #ddd;
}

.dropdown_addProduct {
    padding-top: 14px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
    border: 3px solid #ddd;
}

.input_addProduct {
    cursor: default;
}

.input_addProduct:focus {
    background: #f8f8f8;
    border-color: #ddd;
}