/*
	------------------------------------------------
		USER CSS RULE PROFIL PAGE ASPX
	------------------------------------------------
*/


.img.media-photo {
    width: 50px;
    height: 50px;
}

span.indicator_list_item {
    font-size: 10px;
    color: #e34043;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #98978b;
    background-color: #f8f5f0;
}


/* table filter */
.table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #eee;
}
.table-filter tbody tr td {
    padding: 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
    background-color: #eee;
}

label {
    font-size: 14px;
}

label.label-table {
    font-size: 16px;
}

.danger {
    color: #fc8200;
    font-weight: 200;
}

.success {
    color: #84b71e;
    font-weight: 200;
}

a.btn.btn-info {
    background: #9dbbce;
    border-color: #9dbbce;
    color: white;
}

.table-filter .media-body {
    display: block;
    padding-top: 15px;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
.table-filter .media .title span.pagado {
    color: #5cb85c;
}
.table-filter .media .title span.pendiente {
    color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
    color: #d9534f;
}
.table-filter .media .summary {
    font-size: 14px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fd8200 !important;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
}


.nav-tabs > li > a {
    margin-right: 2px;
    font-size: 20px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #363636 !important;
}

.nav-tabs > li.active > a:hover {
    border-color: none !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;

	border: none;
    color: #ff7600 !important;
}

td.list_item_account {
    padding: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.progressDescritpionDiv {
    height: 50px;
}

.caption {
  overflow: hidden;
}
.caption h4 {
  font-weight: 700;
  font-size: 15px;
  height: 20px;

}
.thumbnail img {
  width: 100%;
}
.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}
.thumbnail {
  padding: 0;
  background-color: #e8e8e8;
}
.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

th.resource-name {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}

/*
	------------------------------------------------
		END USER CSS RULE PROFIL PAGE ASPX
	------------------------------------------------
*/